# Python cache & virtual envs
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
venv/
backend/venv310/

# Logs & temp files
*.log
*.tmp
*.swp

# macOS
.DS_Store

# Node / frontend
node_modules/
dist/
build/

# IDE files
.vscode/
.idea/
